/* HTML5 Boilerplate accessible hidden styles */

[type="radio"] {

  border: 0; 

  clip: rect(0 0 0 0); 

  height: 1px; margin: -1px; 

  overflow: hidden; 

  padding: 0; 

  position: absolute; 

  width: 1px;

}



/* One radio button per line */

label {

  display: block;

  cursor: pointer;

  line-height: 2.5;

  font-size: 1.5em;

}



[type="radio"] + span {

  display: block;

}



/* the basic, unchecked style */

[type="radio"] + span:before {

  content: '';

  display: inline-block;

  width: 1em;

  height: 1em;

  vertical-align: -0.25em;

  border-radius: 1em;

  border: 0.125em solid #fff;

  box-shadow: 0 0 0 0.15em #000;

  margin-right: 0.75em;

  transition: 0.5s ease all;

}



/* the checked style using the :checked pseudo class */

[type="radio"]:checked + span:before {

  background: green;

  box-shadow: 0 0 0 0.25em #000;

}



/* never forget focus styling */

[type="radio"]:focus + span:after {

  content: '\0020\2190';

  font-size: 1.5em;

  line-height: 1;

  vertical-align
